@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
/* ----------------------Styling header------------------- */
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
    padding-top: 15px;
    padding-bottom: 10px;
    width:  4%;
    min-width: 50px;
    margin-right: 0.5rem;
  }

  .searchIcon {
    padding-top: 11px;
    padding-left: 10px;
    position: absolute;
    width: 25px;

  }

  .logoSearchLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.searchBar {
    width: 85%;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;

}

.searchBar input {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    width: 91%;
    

    padding: 10px;
    padding-left: 50px; 
    box-sizing: border-box;

    font-size: 1rem;
    border: none; 
    background-color: rgba(0,0,0,.05);
    
}

.searchBar button {
    font-size: 1rem;

    padding: 10px;
    width:  8%;
    min-width: 65px;

    border: none; 
    background-color: #fb3e44;
    color: white;
    
}

.loginButtons {
    display: flex;
    justify-content: space-around;
    width:  10%;
}

#joinButton {
    padding: 5px 15px 5px 15px;
    border: 1px solid black; 
    text-decoration: none;
    color: black;
}

#loginButton{
    min-width: 47px;
    padding: 5px 10px 5px 14px;
    text-decoration: none;
    color: black;
}

/* ----------------------Styling Section 1------------------- */

.aboveTheFold{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(232,217,217,.3);

}

.aboveTheFold h1{
  text-align: center;
  font-size: 5rem;
  padding-bottom: 0px;
  margin-bottom: 0px;

}

.aboveTheFold p {
  width: 35%;
  text-align: center;
  min-width: 400px;
}

.aboveTheFold article {
  display: flex;
  justify-content: center;

}

#seePlansButton{
  color: white;
  text-decoration: none;
  background-color: #FB3B49;
  padding: 10px 3% 10px 3%;
  margin-right: 5px;
  box-shadow: 5px 5px 0 rgba(251,59,73,.2);

}

#joinForFreeButton{
  color: black;
  text-decoration: none;
  padding: 10px 3% 10px 3%;
  margin-left: 5px;
}

.sectionButtons{
  padding: 20px 0px 50px 0px;
  display: flex;
  width: 100%;
  justify-content: center;

}

/* ----------------------Styling Section 2------------------- */

.productDecriptionSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  
}

.hexagon{
  width: 13%;
  margin: 70px 0px 40px 0px;
}

.productDecriptionSection h2{

  text-align: center;
  background-color: rgba(255,204,53,.4);
  /* font-style: oblique; */
  font-weight: bold;
  padding: 0px 25px 0px 25px; 

}
.productDecriptionSection article{
  width: 100%;
  display: flex;
  justify-content: center;
}
.productDecriptionSection p {
  font-size: 0.85rem;
  width: 35%;
  text-align: center;
  min-width: 400px;
}

/* ----------------------Styling Section 3------------------- */

.servicesSection{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 40px 40px 40px;
}

.servicesSection img {
  width: 30px;
}

.services{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px 20px 30px 20px;

}

.service{
  padding: 50px;
}

.service h3{
  color: #ED1C24;
}

.servicesSection button{
  width: 30%;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex; 
  justify-content: center;
  text-align: center;


  background-color: black;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 7px 5px 0 rgba(128,83,35,.2);
  

}